@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: black;
  background: white;
  font-family: Inter, sans-serif;
}



/* global.css */
.react-calendar {
  @apply rounded-lg p-3 bg-white text-sm;
}
.react-calendar__tile--active {
  @apply bg-black text-white rounded-md;
}
.react-calendar__tile--now {
  @apply bg-blue-100;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.3s ease-out;
}

.animate-slide-in-left {
  animation: slideInLeft 0.3s ease-out;
}


.react-select__control {
  @apply border-zinc-300 dark:border-zinc-700 bg-white dark:bg-zinc-900 text-sm rounded-lg shadow-sm;
}
.react-select__menu {
  @apply bg-white dark:bg-zinc-800 text-sm shadow-lg rounded-md;
}
.react-select__option--is-focused {
  @apply bg-zinc-100 dark:bg-zinc-700;
}
.react-select__multi-value {
  @apply bg-zinc-200 dark:bg-zinc-700 text-zinc-800 dark:text-zinc-200 px-1 rounded;
}

