@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: black;
  background: white;
  font-family: Inter, sans-serif;
}



/* global.css */
.react-calendar {
  @apply rounded-lg p-3 bg-white text-sm;
}
.react-calendar__tile--active {
  @apply bg-black text-white rounded-md;
}
.react-calendar__tile--now {
  @apply bg-blue-100;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.3s ease-out;
}

.animate-slide-in-left {
  animation: slideInLeft 0.3s ease-out;
}
